/* Banner styles */
.banner {
    background-color: #0061f2;
    color: white;
    padding: 30px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  
  .banner h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .banner p {
    font-size: 16px;
  }
  
  .banner button {
    border-radius: 20px;
    padding: 10px 20px;
  }
  
  .banner img {
    width: 150px;
    height: auto;
  }
  