.dashboard-overview {
  padding: 20px;
}
.dashboard-heading {
  color: #b0b0b0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.dashboard-overview h2 {
  margin-bottom:20px;
}

.greeting-banner {
  background-color: #007bff;
  color: white;
  margin-bottom: 20px;
  font-size:15px;

}
.greeting-banner h2 {
  font-weight:bold;
  font-size:30px;
  margin-bottom:20px;
}
.greeting-banner p {
  font-size:20px;
}

.doctor-image {
  width: 80px;
  height: 95px;
  border-radius: 10%;
}

.stats {
  display:flex;
  gap:15px;
}

.stat-card {
  width: 100%;
  color: white;
  align-items: center;
  display:flex;
  border-radius:12px;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.stat-card h3 {
  font-size:1.2rem;
  font-weight:600;
  margin:0;
  padding-left:10px;
  color:#333;
}
.icon-circle {
  width:50px;
  height:50px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#f0f0f0;
  margin-right:10px;
}

.stat-card.red {
  background-color: #ffccd5;
}

.stat-card.blue {
  background-color: #d4edda;
}

.stat-card.green {
  background-color: #cce5ff;
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon-circle.red {
  background-color: #dc3545;
}

.icon-circle.blue {
  background-color: #007bff;
}

.icon-circle.green {
  background-color: #28a745;
}

.icon {
  color: white;
  font-size: 24px;
}

.calendar-section,
.appointments-section {
  background-color: #f8f9fa;
  color: #333;
}

.calendar-section h3,
.appointments-section h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
