.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.header-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-title {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color:#999;
}

.search-bar {
  position: relative;
  display: flex;
  margin-right: 400px;
  align-items: center;
  border-radius: 5px;
  padding: 5px 0px;
  gap: 30px;
}

.search-icon {
  margin-top: 12px;
}

.search-bar input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  color: #ccc;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-icons {
  display: flex;
  align-items: center;
}

.bell-icon,
.settings-icon {
  font-size: 20px;
  color: #999;
  margin-right: 20px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 10%;
}
