.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 1.5em;
  width: 300px;
  text-align: center;
  color: #fff;
}


.card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  color:#fff;
}

.card-text {
  font-size: 1rem;
  margin: 0;
  color:#fff;
}

.bg-blue {
  background-color: #007bff;
  color:wh
}

.bg-green {
  background-color: #28a745;
}

.bg-red {
  background-color: #dc3545;
}
