
.calendar {
    width: 340px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom:30px;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .month-year {
    font-size: 1.2rem;
    font-weight: 600;
    color: #555;
  }
  
  .nav-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #aaa;
    cursor: pointer;
  }
  
  .nav-button:hover {
    color: #333;
  }
  
  .days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    color: #aaa;
    margin-bottom: 10px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    color:#999;
  }
  
  .day, .empty-day {
    padding: 10px;
    font-size: 0.9rem;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
  }
  
  .today {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 50%;
  }
  