/* Statistics styles */
.statistics {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .statistics h5 {
    margin-bottom: 20px;
  }
  
  .statistics .stats-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .statistics .stats-info h4 {
    margin: 0;
  }
  
  .statistics .stats-info p {
    font-size: 14px;
    color: #777;
  }
  
  .statistics .stats-graph {
    width: 100%;  /* Ensures the image takes up the full width of its container */
    max-width: 300px;  /* Limit the max width if needed */
    height: auto;  /* Maintain the aspect ratio of the graph */
    margin-left: 20px;
    object-fit: contain; /* Ensures the image fits inside the container without distortion */
  }
  