

.badge {
    padding: 0.5em 1em;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    max-width: 100px;
  }
  
  
  .bg-danger {
    background-color: #dc3545;
    max-width:200px;
  }
  
  .bg-success {
    background-color: #28a745;
    max-width:200px;
  }
  
  .bg-secondary {
    background-color: #6c757d;
    max-width:200px;
  }
  
  .text-white {
    color: #ffffff;
  }
  