/* Upcoming Consultations styles */
.upcoming-consultations {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Control the max width of the entire container */
    margin: 0 auto; /* Center the box horizontally */
  }
  
  .upcoming-consultations h5 {
    margin-bottom: 20px;
  }
  
  .upcoming-consultations ul {
    list-style: none;
    padding: 0;
  }
  
  .upcoming-consultations li {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Reduced space between list items */
  }
  
  .upcoming-consultations li img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px; /* Reduced space between image and text */
  }
  
  .upcoming-consultations .consultation-info {
    flex-grow: 1;
  }
  
  .upcoming-consultations .consultation-info h6 {
    margin: 0;
    font-size: 16px;
  }
  
  .upcoming-consultations .consultation-info p {
    font-size: 14px;
    color: #777;
  }
  
  .upcoming-consultations .consultation-buttons button {
    margin-left: 8px; 
    font-size: 18px;
  }
  